@model TransportLogistics.ViewModels.Requests.RequestsViewModel

<table id="requestsTable" class="table table-striped table-bordered" style="width: 101%;">
    <thead>
        <tr>
            <th width="150">Sender</th>
            <th width="100">Vehicle</th>
            <th width="300">Trailer</th>
            <th width="50"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var request in Model.Requests)
        {
            <tr>
                <td>Sender</td>
                <td>@request.Vehicle.RegistrationNumber</td>
                <td class="">
                    <span class="mr-2">@request.Trailer.Model</span>
                    <span>
                        <span>@request.Trailer.Length.ToString("0.#")</span>
                        <span>x</span>
                        <span>@request.Trailer.Width.ToString("0.#")</span>
                        <span>x</span>
                        <span>@request.Trailer.Height.ToString("0.#")</span>
                        <span class="mr-1">cm,</span>
                        <span>@request.Trailer.Capacity</span>
                        <span>kg</span>
                    </span>
                </td>
                <td class="ml-2">
                    @if (Model.ShowMultipleRequestsModal == false)
                    {
                        <a class="btn btn-outline-success mr-1"
                           onclick='acceptRequestButton("@request.Id")'>
                            <i class="fa fa-check-circle" style="color: green;"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-outline-success mr-1"
                           onclick='checkForMultipleRequests("@request.Id", "@request.Trailer.Id")'>
                            <i class="fa fa-check-circle" style="color: green;"></i>
                        </a>
                    }
                    <a class="btn btn-outline-danger" onclick='declineRequest("@request.Id")'>
                        <i class="fa fa-ban" style="color: red;"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
