@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TransportLogistics.ViewModels.Drivers
@model CurrentRouteViewModel
<table id="Orders" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>PickUpAddress</th>
            <th>DeliveryAddress</th>
            <th>Status</th>
            <td>Payment</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders != null)
        {
            var i = Model.Orders.Count;
            foreach (var order in Model.Orders)
            {
                //if(order.Status == TransportLogistics.Model.OrderStatus.PickedUp)
                //{
                //    order.SetStatus(TransportLogistics.Model.OrderStatus.Delivered);
                //}
                if(order.Status == TransportLogistics.Model.OrderStatus.Created || order.Status == TransportLogistics.Model.OrderStatus.Assigned)
                {
                    order.SetStatus(TransportLogistics.Model.OrderStatus.PickedUp);
                }

        <tr>
            @if (order.Type == TransportLogistics.Model.OrderType.Delivery)
            {
                <td>-</td>
            }
            else
            {
                <td>@order.PickUpAddress.City</td>
            }
            @if (order.Type == TransportLogistics.Model.OrderType.PickUp)
            {
                <td>-</td>
            }
            else
            {
                <td>@order.DeliveryAddress.City</td>

            }
            <td style="text-align:center"><a class="btn bg-menu" id="@i" data-ajax="true"  asp-controller="Drivers" asp-action="SetOrderStatus" asp-route-driverId="@Model.DriverId" 
                   asp-route-orderId="@order.Id" asp-route-status="@order.Status"  onclick="StatusUpdate(this.id)">
                @order.Status </a></td>
            <td>@order.Price</td>
        </tr>
                i--; }  }
        <tr>
            <td>Craiova</td>
            <td>Buc</td>
            <td><button class="btn bg-menu" id="OrderBtn"> Delivered</button></td>
            <td>200 lei</td>
        </tr>
    </tbody>
</table>

<script>
  
    
    function loaded() {
        loadServerPartialView('#OrdersTable', "Drivers/GetOrdersPartial").done(function () {
            $('#Orders').DataTable({ responsive: true, lengthMenu: [5, 10, 15] });
        })
    }

</script>