@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TransportLogistics.ViewModels.Drivers
@using TransportLogistics.Models
@model CurrentRouteViewModel
<table id="Orders" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>PickUpAddress</th>
            <th>DeliveryAddress</th>
            <th>Status</th>
            <td>Payment</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.RouteEntries != null)
        {
            var i = Model.RouteEntries.Count;
            foreach (var routeEntry in Model.RouteEntries)
            {

                if (routeEntry.Order.Status == TransportLogistics.Model.OrderStatus.Delivering )
                { 

                routeEntry.Order.SetStatus(TransportLogistics.Model.OrderStatus.Delivered);
                }
            if (routeEntry.Order.Status == TransportLogistics.Model.OrderStatus.Created ||
            routeEntry.Order.Status == TransportLogistics.Model.OrderStatus.Assigned)
            {
                routeEntry.Order.SetStatus(TransportLogistics.Model.OrderStatus.PickedUp);
            }

        <tr>
           
           
            <td>@routeEntry.Order.PickUpAddress.Country, @routeEntry.Order.PickUpAddress.City,@routeEntry.Order.PickUpAddress.Street,@routeEntry.Order.PickUpAddress.StreetNumber</td>
            
           
          
                <td>@routeEntry.Order.DeliveryAddress.Country,@routeEntry.Order.DeliveryAddress.City,@routeEntry.Order.DeliveryAddress.Street,@routeEntry.Order.DeliveryAddress.StreetNumber</td>
           
            <td style="text-align:center;max-height:3rem;min-width:20rem"><button class="btn bg-menu" id="@i" disabled onclick="setOrderStatusModal('@Model.DriverId', '@routeEntry.Order.Status','@routeEntry.Order.Id',this.id)"
                  data-toggle="modal" data-target="#OrderStatus">  @routeEntry.Order.Status </button></td>
            <td>@routeEntry.Order.Price</td>
        </tr>
                i--; }  }
       
    </tbody>
</table> 

<script>
  
   

</script>