@using TransportLogistics.ViewModels.Routes
@model RouteViewModel;

<table id="routesTable" class="table table-striped table-bordered" style="width:100%">
    <thead class="dropdown text-center">
        <tr>
            <th>Vehicle</th>
            <th>No.Orders</th>
            <th>Actions</th>
        </tr>
    </thead>

    
    <tbody>
        
        @foreach (var route in Model.Routes)
        {
           
        <tr style="max-height:4rem">
            <td class="dropdown text-center w-50">
                <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @route.Vehicle.Name   Status: @route.Vehicle.Status   Type: @route.Vehicle.Type
                </button>
                <div class="dropdown-menu" style="padding: 0.8rem"> 
                    <div>VIN: @route.Vehicle.VIN</div>
                    <div>Plate: @route.Vehicle.RegistrationNumber</div>
                </div>
            </td>
            <td class="dropdown text-center w-20" >
                <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @route.RouteEntries.Count()
                </button>
                @foreach(var order in route.RouteEntries)
                {
                <div class="dropdown-menu" style="padding: 0.8rem">
                   
                    <div>Type: @order.OrderType</div>

                </div>
                }
            </td>
            
           <td class="w-55 ">
               <div class="d-flex justify-content-sm-around">
                   <button class="btn btn-add-blue mr-3 ml-3" title="Add Order" data-toggle="modal" id="@route.Id"
                           onclick="LoadAddOrderView('@route.Id')" data-target="#addOrderModal">
                       <i class="material-icons fa fa-plus"></i>
                   </button>
                   <button class="btn btn-outline-dark mr-3 ml-3" title="Edit" data-toggle="modal"
                           onclick="LoadVehicleEdit('@route.Id');" data-target="#changeVehicleModal">
                       <i class="material-icons fa fa-edit"></i>
                   </button>
                   <button class="btn btn-outline-danger mr-3 ml-3 " style="min-width:3rem" title="Delete Order" data-toggle="modal"
                           onclick="LoadRemoveOrder('@route.Id');" data-target="#removeOrderModal">
                       <div class="row d-flex justify-content-around">
                           <i class="material-icons fa fa-trash"></i>
                           <i class="material-icons fa fa-box"></i>
                       </div>
                   </button>

                   <button class="btn btn-outline-danger mr-3 ml-3" style="min-width:3rem" title="Delete Route" data-toggle="modal"
                           onclick="LoadRemoveRouteView('@route.Id');" data-target="#removeModal">
                       <div class="row d-flex justify-content-around">
                           <i class="material-icons fa fa-trash"></i>
                           <i class="material-icons fa fa-route"></i>
                       </div>
                   </button>


                   <a class="btn bg-menu"  asp-route-id="@route.Id" asp-action="Map" asp-controller="Routes">Go to map</a>

               </div>
            </td>
        </tr>
           
        }

    </tbody>
</table>