@using TransportLogistics.Models.Customers;
@model CustomerListViewModel;


<table id="customersTable" class="table table-striped table-bordered" style="width:100%">
    <thead class="dropdown text-center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model.CustomerViews)
        {
            <tr id="row-with-id-@customer.Id">
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNo</td>

                <td class="dropdown text-center">
                    <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Address Locations (@customer.LocationViews.Count())
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        @foreach (var location in customer.LocationViews)
                        {
                            <div class="dropdown-item">
                                @location.Country,
                                @location.City,
                                @location.Street,
                                @location.StreetNumber,
                                @location.PostalCode
                            </div>
                        }
                    </div>
                </td>

                <td class="d-flex justify-content-around">
                    
                    <button class="btn btn-blue" title="Add Location">
                        <i class="material-icons fa fa-plus"></i>
                    </button>
                    
                    <button class="btn btn-outline-dark" title="Edit" id="@customer.Id">
                        <i class="material-icons fa fa-edit"></i>
                    </button>

                    <button id="@customer.Id" class="btn btn-outline-danger" title="Delete"  onclick="removeCustomer(this.id);">
                        <i class="material-icons fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>