@model TransportLogistics.ViewModels.Vehicles.HistoryVehicleViewModel
@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.dataTables.min.css" />

<h2 class="mt-2 mb-3 message-current-table">
    <span>History:</span>
    <span>@Model.Vehicle.Name</span>
    <span>(</span>
    <span>@Model.Vehicle.RegistrationNumber</span>
    <span>)</span>
</h2>

<table id="historyTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">Driver</th>
            <th>Start address</th>
            <th>Finish address</th>
            <th style="width: 115px;">Start time</th>
            <th style="width: 115px;">Finish time</th>
            <th style="width: 25px;"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var vehicleDriver in Model.VehicleDriver)
        {
            foreach (var route in vehicleDriver.Driver.RoutesHistoric.Routes)
            {
        <tr>
            <td>@vehicleDriver.Driver.Name</td>
            <td class="dropdown text-center">
                <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <span>@route.RouteEntries.ElementAt(0).Order.PickUpAddress.Street</span>
                    <span>,</span>
                    <span>Nr.</span>
                    <span>@route.RouteEntries.ElementAt(0).Order.PickUpAddress.StreetNumber</span>
                </button>
                <div class="dropdown-menu" style="padding: 0.8rem">
                    <div>@route.RouteEntries.ElementAt(0).Order.PickUpAddress.City</div>
                    <div>@route.RouteEntries.ElementAt(0).Order.PickUpAddress.Country</div>

                </div>
            </td>
            <td class="dropdown text-center">
                <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <span>@route.RouteEntries.ElementAt(0).Order.DeliveryAddress.Street</span>
                    <span>,</span>
                    <span>Nr.</span>
                    <span>@route.RouteEntries.ElementAt(0).Order.DeliveryAddress.StreetNumber</span>
                </button>
                <div class="dropdown-menu" style="padding: 0.8rem">
                    <div>@route.RouteEntries.ElementAt(0).Order.DeliveryAddress.City</div>
                    <div>@route.RouteEntries.ElementAt(0).Order.DeliveryAddress.Country</div>

                </div>
            </td>
            <td>
                <span>@route.StartTime.ToShortDateString()</span>
                <span>@route.StartTime.ToString("HH:mm")</span>
            </td>
            <td>
                <span>@route.FinishTime.ToShortDateString()</span>
                <span>@route.FinishTime.ToString("HH:mm")</span>
            </td>
            <td>
                <a class="btn btn-outline-info mr-1 ml-1" asp-action="RouteDetails"
                   asp-route-vehicleId="@Model.Vehicle.Id" asp-route-routeId="@route.Id">
                    <i class="fas fa-info"></i>
                </a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>



@section scripts{

    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#historyTable').DataTable({ responsive: true, "lengthMenu": [5, 10, 25, 50] });
        });
    </script>
}